<div class="card">
  <div class="caption">
    <img src="{{ item.snippet?.thumbnails.medium.url }}" alt="prewiew_img" />
  </div>
  <div class="stats">
    <div class="views">
      <img src="../../../assets/img/viewed.svg" alt="views_img" />
      <span class="stats-text">{{ item.statistics.viewCount }}</span>
    </div>
    <div class="likes">
      <img src="../../../assets/img/liked.svg" alt="like_img" />
      <span class="stats-text">{{ item.statistics.likeCount }}</span>
    </div>
    <div class="dislikes">
      <img src="../../../assets/img/dislike.svg" alt="dislike_img" />
      <span class="stats-text">{{ item.statistics.dislikeCount }}</span>
    </div>
    <div class="comments">
      <img src="../../../assets/img/comments.svg" alt="comments_img" />
      <span class="stats-text">{{ item.statistics.commentCount }}</span>
    </div>
  </div>
  <div class="title">
    <span>{{ item.snippet?.title }}</span>
  </div>
  <div class="main-btn">
    <input type="button" value="more..." />
  </div>
  <div class="card-footer"></div>
</div>
