<div class="dropdown">
  <div class="dropdown-group">
    <div class="sorting">Sorting by:</div>
    <div class="date">
      <a class="dropdown-btn" href="#" (click)="sortCardsBy('publishedAt')"
        >date</a
      >
    </div>
    <div class="count">
      <a class="dropdown-btn" href="#" (click)="sortCardsBy('viewCount')"
        >count of views</a
      >
    </div>
    <div class="byword">
      <a class="dropdown-btn" href="#">by word or sentance</a>
    </div>
    <div class="sort-input">
      <input type="search" />
    </div>
  </div>
</div>
