<div class="header">
  <div class="search">
    <div class="logo">
      <img src="../../assets/img/logo.svg" alt="logo" />
    </div>
    <div class="search-field">
      <input type="search" placeholder="What are you want to find out?" />
    </div>
    <div class="search-button">
      <button>search</button>
    </div>
    <div class="search-settings">
      <img
        src="../../assets/img/search_settings.svg"
        alt="search_settings"
        (click)="toggleDropdown()"
      />
    </div>
  </div>
  <div class="login">
    <div class="login-name">Your name</div>
    <div class="login-logo">
      <img src="../../assets/img/login_logo.svg" alt="login_logo" />
    </div>
  </div>
</div>
<app-dropdown-settings *ngIf="isDropdown"></app-dropdown-settings>
