.header {
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10vw 10px 30vw;
  box-sizing: border-box;
  background: #e5e5e5;
  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      margin: auto 0px;
      height: 50px;
      cursor: pointer;
    }
    &-field {
      margin: auto 0px auto 10px;
      input {
        width: 27.5vw;
        height: 24px;
        background: #efefef;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #929292;
        border: 1px solid #efefef;
      }
    }
    &-button {
      margin: auto 0px auto 0px;
      button {
        width: 80px;
        height: 24px;
        text-decoration: none;
        text-align: center;
        border: none;
        background: #2f80ed;
        border-radius: 0px 4px 4px 0px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 1px 0px 4px #2f80ed;
      }
    }
    &-settings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto 0px auto 10px;
      height: 32px;
      width: 32px;
      cursor: pointer;
    }
  }
  .login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-name {
      height: 15px;
      width: 102px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      color: #4f4f4f;
    }
    &-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto 0px auto 8px;
      height: 24px;
      width: 23px;
      border-radius: 5px;
      box-shadow: 1px 0px 4px #2f80ed;
      cursor: pointer;
    }
  }
}
